<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndespacho.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_despacho_id}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_despacho_id}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smndespacho.sql' width='100' spacingBefore='40'>
			<col name='smn_modulo_rf' title='${lbl:b_modulo_rf}' width='7' align='left' format='######' />
			<col name='smn_documento_origen_id' title='${lbl:b_documento_origen_id}' width='7' align='left' format='######' />
			<col name='des_numero_documento_origen' title='${lbl:b_numero_documento_origen}' width='7' align='left' format='######' />
			<col name='smn_documento_id' title='${lbl:b_documento_id}' width='7' align='left' format='######' />
			<col name='des_numero_documento' title='${lbl:b_numero_documento}' width='7' align='left' format='######' />
			<col name='des_descripcion' title='${lbl:b_descripcion}' width='7' align='left' />
			<col name='smn_entidad_rf' title='${lbl:b_entidad_rf}' width='7' align='left' format='######' />
			<col name='smn_clase_auxiliar_rf' title='${lbl:b_clase_auxiliar_rf}' width='7' align='left' format='######' />
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliar_rf}' width='7' align='left' format='######' />
			<col name='smn_unidad_organizativa_rf' title='${lbl:b_unidad_organizativa_rf}' width='7' align='left' format='######' />
			<col name='des_fecha_despacho' title='${lbl:b_fecha_despacho}' width='7' align='left' format='dd-MM-yyyy' />
			<col name='des_estatus_combo' title='${lbl:b_status}' width='7' align='left' />
			<col name='des_fecha_registro' title='${lbl:b_store_date}' width='7' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
