<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro 
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_modulo_rf</colname>
			<colname>smn_documento_rf</colname>
			<colname>mca_numero</colname>
			<colname>smn_proveedor_rf</colname>
			<colname>smn_orden_compra_rf</colname>
			<colname>smn_almacen_rf</colname>
			<colname>smn_sucursal_rf</colname>
			<colname>smn_entidad_rf</colname>
			<colname>mca_recibo</colname>
			<colname>mca_monto_documento_ml</colname>
			<colname>mca_monto_documento_ma</colname>
			<colname>mca_monto_diminucion_ml</colname>
			<colname>mca_monto_diminucion_ma</colname>
			<colname>mca_monto_valor_agregado_ml</colname>
			<colname>mca_monto_valor_agregado_ma</colname>
			<colname>mca_monto_neto_ml</colname>
			<colname>mcc_monto_neto_ma</colname>
			<colname>smn_moneda_rf</colname>
			<colname>smn_tasa_rf</colname>
			<colname>mca_fecha_operacion</colname>
			<colname>mca_estatus_proceso</colname>
			<colname>mca_estatus_financiero</colname>
		
		</cols>
		<table>smn_inventario.smn_movimiento_cabecera</table>
		<oper>AÑADIR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@smn_inventario.seq_smn_movimiento_cabecera} as id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="nextval.sql" />
	</output>
	
	<!-- Envio de email declarativo -->
	<mail enabled="false">
		<subject>Subject</subject>
		<mail-to>martin.cordova@gmail.com</mail-to>
		<body>body.txt</body>
	</mail>

</config>
