<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsubdivision.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_division}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_division}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_almacen_rf' title='${lbl:b_stores}'  format='######' align='left' />
			<col name='smn_division_id_name' title='${lbl:b_division}'  align='left' />
			<col name='sdi_codigo' title='${lbl:b_code}'  align='left' />
			<col name='sdi_descripcion' title='${lbl:b_description}'  align='left' />
			<col name='sdi_fecha_registro_ini' title='${lbl:b_store_date_greather_than}'  format='dd-MM-yyyy' align='left' />
			<col name='sdi_fecha_registro_fin' title='${lbl:b_store_date_less_than}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnsubdivision.sql' width='100' spacingBefore='10'>
			<col name='smn_almacen_rf_combo' title='${lbl:b_stores}' width='5' align='left' format='######' />
			<col name='smn_division_id_combo' title='${lbl:b_division}' width='5' align='left' format='######' />
			<col name='sdi_codigo' title='${lbl:b_code}' width='5' align='left' />
			<col name='sdi_descripcion' title='${lbl:b_description}' width='5' align='left' />
			<col name='sdi_es_ubicacion_combo' title='${lbl:b_es_ubicacion}' width='5' align='left' />
			<col name='sdi_alto' title='${lbl:b_dimension_alto}' width='5' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_alto_rf_combo' title='${lbl:b_unidad_medida_alto}' width='5' align='left' format='######' />
			<col name='sdi_ancho' title='${lbl:b_dimension_ancho}' width='5' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_ancho_rf_combo' title='${lbl:b_unidad_medida_ancho}' width='5' align='left' format='######' />
			<col name='sdi_profundidad' title='${lbl:b_profundidad}' width='5' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_prof_rf_combo' title='${lbl:b_unidad_medida_profundidad}' width='5' align='left' format='######' />
			<col name='sdi_estatus_combo' title='${lbl:b_status}' width='5' align='left' />
			<col name='sdi_vigencia' title='${lbl:b_validation_date}' width='5' align='left' format='dd-MM-yyyy' />
			<col name='sdi_idioma' title='${lbl:s_profile_lang}' width='5' align='left' />
			<col name='sdi_usuario' title='${lbl:b_users}' width='5' align='left' />
			<col name='sdi_fecha_registro' title='${lbl:b_store_date}' width='5' align='left' format='dd-MM-yyyy' />
			<col name='sdi_hora' title='${lbl:s_loginhist_col2}' width='5' align='left' />

		</record>

	</pdf-report>
</config>
