<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnproyeccioncompras.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_entidad_rf</colname>
			<colname>smn_sucursal_rf</colname>
			<colname>coi_fecha_movimiento_ini</colname>
			<colname>coi_fecha_movimiento_fin</colname>
			<colname>itm_codigo</colname>
			<colname>itm_nombre</colname>
			<colname>ped_fecha_registro</colname>
			<colname>pch_fecha_registro</colname>
		
		</cols>
		<table>smn_inventario.smn_control_item</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnproyeccioncompras.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.GenericSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnproyeccioncompras.sql" source="session" scope="session">
			<!-- <recordset id="query-smncuentamayor.sql" source="sql"/>
			<recordset id="total-query-smncuentamayor.sql" source="total" params="query-smncuentamayor.sql" totalCols="mdh_montodeb_ml"/> -->
		</recordset>
		<!-- 	<recordset id="gran-total.sql" source="sql" scope="session"/> -->
	</transaction>
	
	<searchCols>smn_entidad_rf;smn_sucursal_rf;coi_fecha_movimiento_ini;coi_fecha_movimiento_fin;itm_codigo;itm_nombre;</searchCols>


	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
