<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnconteo.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_count}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_count}">
				<col id='con_codigo' label='${lbl:b_code}' />
		<col id='con_descripcion' label='${lbl:b_description}' />
		<col id='smn_almacen_rf' label='${lbl:b_store_code}' />
		<col id='smn_ubicacion_id' label='${lbl:b_head_location}' />
		<col id='smn_rol_1_id' label='${lbl:b_inventariador_uno}' />
		<col id='smn_rol_2_id' label='${lbl:b_inventariador_dos}' />
		<col id='con_estatus' label='${lbl:b_status}' />
		<col id='con_fecha_vigencia' label='${lbl:b_vigency_date}' />
		<col id='con_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
