<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncaracteristicaalmacen.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_caracteristicas_almacen}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_caracteristicas_almacen}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smncaracteristicaalmacen.sql' width='100' spacingBefore='40'>
			<col name='smn_almacen_rf_combo' title='${lbl:b_stores}' width='14' align='left' format='######' />
			<col name='cal_tipo_almacen_combo' title='${lbl:b_tipo_almacen}' width='14' align='left' />
			<col name='cal_capacidad_almacenaje' title='${lbl:b_capacidad_almacenaje}' width='14' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_rf_combo' title='${lbl:b_unidad_medida_capacidad_almacenaje}' width='14' align='left' format='######' />
			<col name='cal_espacio_fisico' title='${lbl:b_espacio_fisico}' width='14' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_espacio_fisico_rf_combo' title='${lbl:b_unidad_medida_espacio_fisico}' width='14' align='left' format='######' />
			<col name='cal_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
