<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnitemalmacen.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_relacion_item_almacen}"/>
	
	<excel 
		recordset='query-smnitemalmacen.sql' 
		sheetname='${lbl:b_relacion_item_almacen}' 
		filename='${lbl:b_relacion_item_almacen}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_item_rf_combo' label='${lbl:b_item}' />
		<col id='smn_almacen_rf_combo' label='${lbl:b_stores}' />
		<col id='ria_estatus_combo' label='${lbl:b_status}' />
		<col id='ria_vigencia' label='${lbl:b_validation_date}' />
		<col id='ria_idioma' label='${lbl:s_profile_lang}' />
		<col id='ria_usuario' label='${lbl:b_users}' />
		<col id='ria_fecha_registro' label='${lbl:b_store_date}' />
		<col id='ria_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
