<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='50%'/>
	<col width='50%'/>

	<!--toolbar-->
	<tr>
		<th colspan="2">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("smn_caracteristica_item_combo","query-smnrelitemcodimpuesto.sql")'>${lbl:b_caracteristicas_item}</th>
		<th class='sortable' onclick='sortBy("smn_codigo_impuesto_rf_combo","query-smnrelitemcodimpuesto.sql")'>${lbl:b_tax_code}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td>${fld:smn_caracteristica_item_combo}</td>
		<td>${fld:smn_codigo_impuesto_rf_combo}</td>
	</tr>
	</rows>

</table>
