<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='45%'/>
	<col width='45%'/>

	<!--toolbar-->
	<tr>
		<th colspan="5">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_caracteristica_item_combo','query-smnrelitemalmacen.sql')" >${lbl:b_caracteristicas_item}</th>
		<th class='sortable' onclick="sortBy('smn_almacen_rf_combo','query-smnrelitemalmacen.sql')" >${lbl:b_stores}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_item_almacen_id}')" title="Ver detalle"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_item_almacen_id}')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_item_almacen_id}')" title="Editar"></td>
		<td align="center">${fld:smn_caracteristica_item_combo}</td>
		<td align="center">${fld:smn_almacen_rf_combo}</td>
	</tr>
	</rows>

</table>
