<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovimientocabecera.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_inventory_movement}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_inventory_movement}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnmovimientocabecera.sql' width='100' spacingBefore='40'>
			<col name='smn_entidad_rf' title='${lbl:b_entity}' width='11' align='left' format='######' />
			<col name='smn_almacen_rf' title='${lbl:b_store_code}' width='11' align='left' format='######' />
			<col name='smn_modulo_rf' title='${lbl:b_modules}' width='11' align='left' format='######' />
			<col name='smn_documento_origen_rf' title='${lbl:b_origin_document}' width='11' align='left' format='######' />
			<col name='mca_numero_documento_origen' title='${lbl:b_document_number_origin}' width='11' align='left' format='######' />
			<col name='smn_documento_id' title='${lbl:b_document}' width='11' align='left' format='######' />
			<col name='mca_numero' title='${lbl:b_number}' width='11' align='left' format='######' />
			<col name='mca_estatus_proceso' title='${lbl:b_status_process}' width='11' align='left' />
			<col name='mca_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
