<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncontrolrecepcionparcial.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_control_reception_partial}"/>
	
	<excel 
		recordset='query-smncontrolrecepcionparcial.sql' 
		sheetname='${lbl:b_control_reception_partial}' 
		filename='${lbl:b_control_reception_partial}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='mca_estatus_proceso_pl0' label='${lbl:b_movement_head}' />
		<col id='smn_orden_compra_rf' label='${lbl:b_pay_order}' />
		<col id='crp_numero_documento' label='${lbl:b_number_document}' />
		<col id='smn_item_id_combo' label='${lbl:b_item}' />
		<col id='crp_cantidad_recibida' label='${lbl:b_quantity_received}' />
		<col id='crp_fecha_recepcion' label='${lbl:b_received_date}' />
		<col id='crp_lote' label='${lbl:b_lote}' />
		<col id='crp_fecha_vencimiento_lote' label='${lbl:b_expiration_date_lot}' />
		<col id='crp_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
