<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelitemalmacen.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_relation_item_almacen}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_relation_item_almacen}">
				<col id='smn_caracteristica_item_id' label='${lbl:b_caracteristicas_item}' />
		<col id='smn_almacen_rf' label='${lbl:b_stores}' />
		<col id='smn_caracteristica_item_id' label='${lbl:b_caracteristicas_item}' />
		<col id='smn_almacen_rf' label='${lbl:b_stores}' />

	</sheet>
	
	</excel>

</config>
