<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='3%'/>
	<col width='3%'/>


	<!--toolbar-->
	<tr>
		<th colspan="13" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_entidad_rf","query-smnmovimientocabecera.sql")'>${lbl:b_entity}</th>
		<th class='sortable' onclick='sortBy("smn_almacen_rf","query-smnmovimientocabecera.sql")'>${lbl:b_almacen_rf}</th>
		<th class='sortable' onclick='sortBy("smn_proveedor_rf","query-smnmovimientocabecera.sql")'>${lbl:b_provider}</th>
		<th class='sortable' onclick='sortBy("smn_documento_id","query-smnmovimientocabecera.sql")'>${lbl:b_contrato_doc}</th>
		<th class='sortable' onclick='sortBy("mca_numero","query-smnmovimientocabecera.sql")'>${lbl:b_number} ${lbl:b_recepcion}</th>
		<th class='sortable' onclick='sortBy("mca_numero_documento_origen","query-smnmovimientocabecera.sql")'>${lbl:b_numero_orden_compra}</th>
		<th class='sortable' onclick='sortBy("mca_fecha_recibida","query-smnmovimientocabecera.sql")'>${lbl:b_date_received}</th>
		<th class='sortable' onclick='sortBy("mca_estatus_proceso","query-smnmovimientocabecera.sql")'>${lbl:b_status_process}</th>
		<th class='sortable' onclick='sortBy("mca_fecha_registro","query-smnmovimientocabecera.sql")'>${lbl:b_store_date}</th>
		<th>DT</th>
		<th>CRP</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_movimiento_cabecera_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/icongrid/Generar.png" onclick="generar('${fld:smn_movimiento_cabecera_id}')" title="Generar"></td>
		<td>${fld:smn_entidad_rf}</td>
		<td>${fld:smn_almacen_rf}</td>
		<td>${fld:smn_proveedor_rf}</td>
		<td>${fld:smn_documento_id}</td>
		<td>${fld:mca_numero}</td>
		<td>${fld:mca_numero_documento_origen}</td>
		<td>${fld:mca_fecha_recibida}</td>
		<td>${fld:mca_estatus_proceso}</td>
		<td>${fld:mca_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="detalle('${fld:smn_movimiento_cabecera_id}')" title="${lbl:b_movement_detail}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="recepcionParcial('${fld:smn_movimiento_cabecera_id}')" title="${lbl:b_control_recepcion_parcial}"></td>
	</tr>
	</rows>

</table>
