<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovimientodetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_movement_detail}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_movement_detail}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnmovimientodetalle.sql' width='100' spacingBefore='40'>
			<col name='smn_movimiento_cabecera_id' title='${lbl:b_movement_head_2}' width='11' align='left' format='######' />
			<col name='mde_es_bonificacion_combo' title='${lbl:b_bonus}' width='11' align='left' />
			<col name='mde_cantidad' title='${lbl:b_quantity}' width='11' align='left' format='######' />
			<col name='mde_lote' title='${lbl:b_lot}' width='11' align='left' format='######' />
			<col name='mde_descripcion' title='${lbl:b_description}' width='11' align='left' />
			<col name='smn_precio_ml' title='${lbl:b_price}' width='11' align='left' format='#,###,##0.00' />
			<col name='smn_precio_ma' title='${lbl:b_coins_altern_price}' width='11' align='left' format='#,###,##0.00' />
			<col name='mde_estatus_combo' title='${lbl:b_status}' width='11' align='left' />
			<col name='mde_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
