<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_taxes}
	</summary>

	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<!-- <recordset id='query-imp_unidad_impositiva.sql' source='sql' scope='transaction'/> -->
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<!-- <print mode='table' recordset='query-imp_unidad_impositiva.sql' tag='imp_unidad_impositiva_rows'/> -->
	</output>

</config>
