<?xml version='1.0' encoding='UTF8'?>
<config>

	<summary>
		${lbl:b_relationship_item_tax_code}
	</summary>

	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_codigo_impuesto_rf.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_codigo_impuesto_rf.sql' tag='smn_codigo_impuesto_rf_rows'/>
	</output>

</config>
