<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncontrolitem.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
		<!-- <recordset id='gran-total.sql' source='session' scope='transaction' /> -->
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>Cuenta Mayor</pdf-title>
	<pdf-logo url='/images/logo.png' scale='50' />

	<pdf-report pageSize="letter" rotate="true">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='10'>
			<col name='smn_entidad_rf' title='Entidad' align='center' />
			<col name='smn_sucursal_rf' title='Almacen' align='center' />
			<col name='smn_almacen_rf' title='Almacen' align='center' />
			<col name='itm_codigo' title='Codigo Item' align='center' />
			<col name='itm_nombre' title='Descripcion Item' align='center' />
			<col name='coi_fecha_movimiento_ini' title='Fecha Desde' width='14' align='left' format='dd-MM-yyyy' />
			<col name='coi_fecha_movimiento_fin' title='Fecha Hasta' width='14' align='left' format='dd-MM-yyyy' />
			
		</record>
		
		 <table recordset='query-smncontrolitem.sql' width='90' spacingBefore='20' title='Monitor Control Item'> 
		 	<col name='smn_entidad_rf' title='Entidad' width='12' align='center' />
			<col name='smn_sucursal_rf' title='Sucursal' width='12' align='center' />
			<col name='smn_almacen_rf' title='Almacen' width='12' align='left' />
			<col name='codigo' title='Item' width='12' align='left' />
			<col name='nombre' title='Item' width='12' align='left' />
			<col name='coi_valor_inicial' title='Valor Inicial' width='12' align='left' />
			<col name='coi_valor_entrada' title='Valor Entrada' width='12' align='left' />
			<col name='coi_valor_salida' title='Valor Salida' width='12' align='left' />
			<col name='coi_valor_final' title='Valor Final' width='12' align='left' />
			<col name='coi_fecha_movimiento' title='Fecha Registro'  width='7' align='left' format='dd-MM-yyyy' />
		</table>


	</pdf-report>
</config>