<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndespacho.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="19" cellStep="0" name="${lbl:b_despacho_id}"/>
	
	<excel 
		recordset='query-smndespacho.sql' 
		sheetname='${lbl:b_despacho_id}' 
		filename='${lbl:b_despacho_id}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_modulo_rf' label='${lbl:b_modulo_rf}' />
		<col id='smn_documento_origen_id' label='${lbl:b_documento_origen_id}' />
		<col id='des_numero_documento_origen' label='${lbl:b_numero_documento_origen}' />
		<col id='smn_documento_id' label='${lbl:b_documento_id}' />
		<col id='des_numero_documento' label='${lbl:b_numero_documento}' />
		<col id='des_descripcion' label='${lbl:b_descripcion}' />
		<col id='smn_entidad_rf' label='${lbl:b_entidad_rf}' />
		<col id='smn_clase_auxiliar_rf' label='${lbl:b_clase_auxiliar_rf}' />
		<col id='smn_auxiliar_rf' label='${lbl:b_auxiliar_rf}' />
		<col id='smn_unidad_organizativa_rf' label='${lbl:b_unidad_organizativa_rf}' />
		<col id='des_fecha_despacho' label='${lbl:b_fecha_despacho}' />
		<col id='des_estatus_combo' label='${lbl:b_status}' />
		<col id='des_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>
