<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnruta.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_route}"/>
	
	<excel 
		recordset='query-smnruta.sql' 
		sheetname='${lbl:b_route}' 
		filename='${lbl:b_route}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='rut_codigo' label='${lbl:b_code}' />
		<col id='rut_nombre' label='${lbl:b_name}' />
		<col id='smn_zona_rf' label='${lbl:b_zone}' />
		<col id='rut_posicion_ruta' label='${lbl:b_position_route}' />
		<col id='rut_estatus' label='${lbl:b_status}' />
		<col id='rut_vigencia' label='${lbl:b_validation_date}' />
		<col id='rut_idioma' label='${lbl:s_profile_lang}' />
		<col id='rut_usuario' label='${lbl:b_users}' />
		<col id='rut_fecha_registro' label='${lbl:b_store_date}' />
		<col id='rut_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
