<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnprincipioactivo.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_principio_activo}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_principio_activo}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='pac_codigo' title='${lbl:b_code}'  format='######' align='left' />
			<col name='pac_descripcion' title='${lbl:b_description}'  align='left' />
			<col name='pac_descripcion_completa' title='${lbl:b_long_description}'  align='left' />
			<col name='pac_estatus' title='${lbl:b_status}'  align='left' />
			<col name='pac_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='pac_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnprincipioactivo.sql' width='100' spacingBefore='10'>
			<col name='pac_codigo' title='${lbl:b_code}' width='11' align='left' format='######' />
			<col name='pac_descripcion' title='${lbl:b_description}' width='11' align='left' />
			<col name='pac_descripcion_completa' title='${lbl:b_long_description}' width='11' align='left' />
			<col name='pac_estatus' title='${lbl:b_status}' width='11' align='left' />
			<col name='pac_fecha_vigencia' title='${lbl:b_validation_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='pac_idioma' title='${lbl:s_profile_lang}' width='11' align='left' />
			<col name='pac_usuario' title='${lbl:b_users}' width='11' align='left' />
			<col name='pac_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='pac_hora' title='${lbl:s_loginhist_col2}' width='11' align='left' />

		</record>

	</pdf-report>
</config>
