<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smndocumento.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="8" cellStep="0" name="${lbl:b_document}"/>
	
	<excel 
		recordset='query-smndocumento.sql' 
		sheetname='${lbl:b_document}' 
		filename='${lbl:b_document}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_tipo_documento_id' label='${lbl:b_document_type}' />
		<col id='doc_codigo' label='${lbl:b_code}' />
		<col id='doc_nombre' label='${lbl:b_name}' />
		<col id='smn_documento_general_rf' label='${lbl:b_general_document}' />
		<col id='smn_modulo_origen_rf' label='${lbl:b_source_module}' />
		<col id='doc_despacho_int_consumo' label='${lbl:b_internal_office_consumption}' />
		<col id='doc_despacho_int_transferencia' label='${lbl:b_internal_office_transfer}' />
		<col id='doc_despacho_venta' label='${lbl:b_sales_office}' />
		<col id='doc_secuencia' label='${lbl:b_sequence}' />
		<col id='doc_vigencia' label='${lbl:b_validation_date}' />
		<col id='doc_estatus' label='${lbl:b_status}' />
		<col id='doc_tipo_movimiento' label='${lbl:b_movement_type}' />
		<col id='doc_tipo_documento_pago' label='${lbl:b_document_type_payment}' />
		<col id='doc_idioma' label='${lbl:s_profile_lang}' />
		<col id='doc_usuario' label='${lbl:b_users}' />
		<col id='doc_fecha_registro' label='${lbl:b_store_date}' />
		<col id='doc_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
