<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnruta.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_route}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_route}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnruta.sql' width='100' spacingBefore='40'>
			<col name='rut_codigo' title='${lbl:b_code}' width='14' align='left' />
			<col name='rut_nombre' title='${lbl:b_name}' width='14' align='left' />
			<col name='smn_zona_rf' title='${lbl:b_zone}' width='14' align='left' format='######' />
			<col name='rut_posicion_ruta' title='${lbl:b_position_route}' width='14' align='left' format='######' />
			<col name='rut_estatus' title='${lbl:b_status}' width='14' align='left' />
			<col name='rut_vigencia' title='${lbl:b_validation_date}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='rut_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
